<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.industries.garcam.myapplication"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- hardwareAccelerated https://android-developers.googleblog.com/2011/03/android-30-hardware-acceleration.html-->

    <application
    android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LifeCycleTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Life Cycle Test" />
        <activity android:name=".SingleTouchTest" />
        <activity android:name=".MultiTouchTest" />
        <activity android:name=".KeyTest" />
        <activity android:name=".AccelerometerTest" />
        <activity android:name=".AssetsTest" />
        <activity android:name=".ExternalStorageTest" />
        <activity android:name=".SoundPoolTest" />
        <activity android:name=".MediaPlayerTest" />
        <activity android:name=".FullScreenTest" />
        <activity android:name=".RenderViewTest" />
        <activity android:name=".ShapeTest" />
        <activity android:name=".BitmapTest" />
        <activity android:name=".FontTest" />
        <activity android:name=".SurfaceViewTest"></activity>
    </application>

</manifest>